@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


fieldset, label { margin: 0; padding: 0; }
body {
    margin: 20px;
    background-image: url("../images/background6.jpg");
    font: 15px Arial, sans-serif;
    font-stretch: ultra-expanded;
}
h1 { font-size: 1.5em; margin: 10px; }

.navigator {
    margin: 20px;
    background-image: url("../images/nav_bar2.jpg");
    background-repeat: no-repeat, repeat;
    border-radius: 10px;
    padding: 20px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid whitesmoke;
}

.active {
    color: green;
    text-decoration: none;
}

.inactive {
    text-decoration: none;
    color: whitesmoke;
}

.inactive:hover {
    color: green;
}

.navigator span {
    margin-right: 30px;
    margin-left: 50px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.form input {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px 5px 10px 10px;
    font-size: 15px;
    padding: 3px 10px;
}
.loader {
    display: flex;
    width: 100%;
    justify-content: center;
}

.loader img {
    text-align: center;
    width: 30px;
    height: 30px;
}

.form input:first-child {
    width: 200px;
    transition: width 2s ease;
}

.form input:first-child:hover {
    width: 400px;
}

.form input:nth-child(2) {
    width: 200px;
    transition: width 2s ease;
}

.form input:nth-child(2):hover {
    width: 400px;
}

.form input:last-child {
    all: unset;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
}


.first-view {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 200px;
    color: whitesmoke;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 120px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 10px;
    row-gap: 1ch;
}

.checkbox {
    text-align: right;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.single-item {
    position: relative;
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid white;
    align-content: center;
}

.single-item img:first-child {
    position: relative;
    width: 300px;
    height: 430px;
    border-radius: 10px;
}

.single-item img[id="not-found"] {
    object-fit: scale-down;
}

.x-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.single-item button {
    text-align: right;
    font-size: 20px;
    border-radius: 5px;
}

.single-item button:hover {
    background-color: crimson;
    color: white;
}

.movie-details {
    overflow: hidden;
    color: lightgrey;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.movie-details img {
    float: left;
    border-radius: 10px;
    margin: 30px 20px;
    width: 400px;
    height: 570px;
    overflow-wrap: break-word;
}

.movie-details img[id="not-found"] {
    object-fit: scale-down;
}

.details {
    inline-size: 900px;
    float: left;
    margin: 30px;
    border-radius: 10px;
    font-size: 30px;
    opacity: 0.7;
    font-family: 'Courier New', monospace;
}

.movie-not-found {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.movie-details div:first-child {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

/****** Style Star Rating Widget *****/

.rate {
    float: left;
    height: 46px;
    padding: 0 5px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    color: whitesmoke;
    width: 40px;
    height: 24px;
    margin-left: 90px;
    margin-top: 7px;
}

/* Hide default HTML checkbox */
.switch input {
    display: inline-block;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
