
.container {
    margin-left: 50px;
}

.navigator {
    margin: 30px;
    background: seagreen;
    border-radius: 5px;
    padding: 30px;
    font-size: 20px;

}

.navigator span {
    margin-right: 30px;
    margin-left: 50px;
    font-weight: bold;
}

.form {
    margin-left: 30px;
}

.first-view {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

.single-item {
    margin: 30px;
}