@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


fieldset, label { margin: 0; padding: 0; }
body {
    margin: 20px;
    background-image: url("../images/background6.jpg");

}
h1 { font-size: 1.5em; margin: 10px; }



.navigator {
    margin: 20px;
    background-image: url("../images/nav_bar2.jpg");
    background-repeat: no-repeat, repeat;
    border-radius: 10px;
    padding: 20px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid whitesmoke;
}

.active {
    color: whitesmoke;
}

.navvv {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;

}

.navvv:hover {
    color: red;
}

.navigator span {
    color: white;
}

.navigator span {
    margin-right: 30px;
    margin-left: 50px;
    font-weight: bold;
}

.form {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    /*background-color: rgba(17,11,8,0.29);*/

    border-radius: 10%;
    align-items: center;
}

.form input {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px 5px 10px 10px;
    font-size: 15px;
    padding: 3px 10px;
    align-self: center;
}

.form input:first-child {
    width: 200px;
    transition: width 2s;
}
.form input:first-child:hover {
    width: 400px;
}

.form input:last-child {
    all: unset;
    width: 40px;
    height: 40px;
}



.first-view {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 120px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 10px;
}
.checkbox {
    text-align: right;
    width: 20px;
    height: 20px;
    margin-left: 50px;
    cursor: pointer;
}
.single-item {
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid white;
}

.single-item img {
    width: 300px;
    height: 430px;
    border-radius: 10px;
}

.single-item button {
    text-align: right;
    font-size: 20px;
    border-radius: 5px;
}

.single-item button:hover {
    background-color: crimson;
    color: white;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }